<div class="row">
  <div class="col-sm-12">
    <div class="form-group">
      <label for="userEmailId">Email ID</label>
      <input type="email" class="form-control" id="userEmailId" placeholder="Enter Your Email">
    </div>
    <div class="form-group">
      <label for="userPassword">Password</label>
      <input type="password" class="form-control" id="userPassword" placeholder="Enter Your Password">
    </div>
  </div>
</div><br>
<div class="row">
  <div class="col-sm-12 text-right">
    <button md-raised-button color="primary">Sign Up</button>
  </div>
  <div class="col-sm-12 text-center">
    <hr>
    I have an account.
    <a href="javascript:void(0)" (click)="openLoginDialog()">Sign In</a>
  </div>
</div>