<div class="row">
  <div class="col-sm-12">
    <div class="form-group">
      <label for="userEmailId">Email ID</label>
      <input type="email" class="form-control" id="userEmailId" placeholder="Enter Your Email">
    </div>
    <div class="form-group">
      <label for="userPassword">Password</label>
      <input type="password" class="form-control" id="userPassword" placeholder="Enter Your Password">
    </div>
  </div>
</div><br>
<div class="row">
  <div class="col-xs-6">
    <a href="javascript:void(0)">Forgot Password</a>
  </div>
  <div class="col-xs-6 text-right">
    <button md-raised-button color="primary" (click)="login()">Login</button>
  </div>
  <div class="col-sm-12 text-center">
    <hr>
    Don't have an account?
    <a href="javascript:void(0)" (click)="openSignUpDialog()">Sign Up</a>
  </div>
</div>