<md-nav-list>
  <a md-list-item [routerLink]="['/doctor', 'profile', 'personal-details']">
    <md-icon>person_outline</md-icon> <span>My Profile</span>
  </a>
  <a md-list-item href="javascript:void(0)">
    <md-icon>date_range</md-icon> <span>My Calendar</span>
  </a>
  <a md-list-item href="javascript:void(0)">
    <md-icon>assignment</md-icon> <span>My Records</span>
  </a>
  <a md-list-item href="javascript:void(0)">
      <md-icon>supervisor_account</md-icon> <span>Collaborate</span>
  </a>
  <a md-list-item href="javascript:void(0)">
    <md-icon>info_outline</md-icon> <span>Medical Wiki</span>
  </a>
  <a md-list-item href="javascript:void(0)">
    <!-- <i class="fa fa-sign-in" aria-hidden="true"></i> --> 
    <md-icon>input</md-icon> <span>Check In</span>
  </a>
</md-nav-list>