<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h2>Dr. Nirav Patel</h2>
    </div>
    <div class="col-sm-9"></div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-3 userLeftMenuCon">
      <app-user-left-menu class=""></app-user-left-menu>
    </div>
    <div class="col-sm-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<!-- <div class="visible-xs-block mobileUserFabMenu" id="mobileUserFabMenu">
  <div class="overlay" (click)="toggleMenu()"></div>
  <button md-mini-fab color="primary" (click)="toggleMenu()">
    <md-icon class="md-24">more_vert</md-icon>
  </button>
  <app-user-left-menu (click)="toggleMenu()"></app-user-left-menu>
</div> -->